<?xml version='1.0' encoding='utf-8'?>
<plugin id="hasanmirzae.github.cordova-plugin-reboot" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-reboot</name>
  <js-module name="cordova-plugin-reboot" src="www/cordova-plugin-reboot.js">
    <clobbers target="cordova.plugins.cordova-plugin-reboot" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
    <feature name="cordova-plugin-reboot">
    <param name="android-package" value="hasanmirzae.github.CordovaPluginReboot.cordova-plugin-reboot" />
   </feature>
  </config-file>
  <config-file parent="/*" target="AndroidManifest.xml">
  </config-file>
  <source-file src="src/android/hasanmirzae/github/reboot/CordovaRebootPlugin.java" target-dir="src/hasanmirzae/github/reboot" />
  </platform>
</plugin>
