<?xml version='1.0' encoding='utf-8'?>
<plugin id="hasanmirzae.github.cordova-plugin-reboot" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Reboot</name>
  <js-module name="Reboot" src="www/reboot.js">
    <clobbers target="Reboot" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
    <feature name="CordovaRebootPlugin">
    <param name="android-package" value="hasanmirzae.github.reboot.CordovaRebootPlugin" />
   </feature>
  </config-file>
  <config-file parent="/*" target="AndroidManifest.xml">
  </config-file>
  <source-file src="src/android/hasanmirzae/github/reboot/CordovaRebootPlugin.java" target-dir="src/hasanmirzae/github/reboot" />
  </platform>
</plugin>
